apiVersion: v1
kind: Service
metadata:
  name: {{ include "fraud-detection.fullname" . }}
  labels:
    {{- include "fraud-detection.labels" . | nindent 4 }}
  annotations:
    # Prometheus scraping annotations for CloudWatch agent
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/actuator/prometheus"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "fraud-detection.selectorLabels" . | nindent 4 }}

